/* General */
body {
  font-family: "Inter", sans-serif;
  scroll-padding-top: 72px;
}

/* Cards Hover */
.hover-shadow:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

/* Buttons */
.btn-primary {
  background-color: #3788d8;
  border: none;
}
.btn-primary:hover {
  background-color: #2b6cb0;
}

/* Sections */
.page-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* Header */
.masthead {
  background: linear-gradient(to right, #3788d8, #2b6cb0);
}

/* Icons */
.fas {
  color: #3788d8;
}

/* Footer */
footer {
  background-color: #1c1c1c;
}

.logo-img {
  height: 40px;
  width: auto;
  transition: transform 0.3s ease;
}

.logo-img:hover {
  transform: scale(1.1);
}

.navbar-scrolled {
  background-color: white !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.gallery-thumb-lg {
  height: 250px; /* Înălțime fixă */
  object-fit: cover; /* Taie marginile dacă e nevoie */
  width: auto;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .gallery-thumb-lg {
    height: 200px;
  }
}
